.container {
    display: inline-block;
    position: absolute;
    padding-top: 520px;
    margin-bottom: 50px;
   
}

.container .text {
   
    z-index: 1;
    position: absolute;
   text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 25px;
   
  
    left: 0;
    right: 0;
    top: 6%;
   
   
    width: 150%;
    height: 4px;
    padding-top:  401px;
    padding-right: 11px;
    font-size: 65.0px;
    padding-bottom: 100px;
}

.image{
   
    width: 200px;
    padding-top: 100px;
    padding-bottom: 5px;
    height: 2px;
    margin-bottom: 10px;
    position: absolute;
  
}
h1{
    float: left;
    width: 100%;
    height: 250px;
    padding-top:  65px;
    padding-left:65px ;
    padding-right: 70px;
    font-size: 120.0px;
    color: black;
    padding-bottom:125px ;
}
.sw{
    text-align: center;
}
body{
     
    padding-right: 0%;
}

h3{
    height: 310px;
    width:310px;
    padding-top:140px;
    padding-bottom: 190px;
    padding-right: 15px;
    border:1px solid #bbbbba;
    text-align:center;
    background: #bbbbba;
    padding-right: 130px;
    margin-left: 560px;
    font-size: 60px;
    color: rgb(167, 34, 34);
}
